{% extends 'includes/base.html' %}
{% load static %}

{% block content %}


<section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-box">
            <p style="line-height: 35px; letter-spacing: 1.2px; color: red;">Your purchase was completed successfully! We're thrilled to confirm that your order has been processed and everything is set.
                Thank you for choosing our product, and we hope it meets all your expectations. Keep an eye on your email for further updates regarding your order status.
                If you have any questions or need assistance, feel free to reach out to our support team.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>



{% endblock %}
