{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MyApp</title>


    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <link href="{% static 'responsive.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="hero_area">
        <!-- header section starts -->
        <header class="header_section long_section px-0">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{{company.logo.url }}" style="height: 75px; width: 80px; border-radius: 50%; object-fit: cover;"></img>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'media' %}">Media</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="{% url 'listed_items' %}">Listed Items</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quote_btn-container">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'login' %}">
                                <button style="background-color: #6bb7be; color: white; border: none; padding: 5px 15px">Login</button>
                            </a>
                        {% else %}
                            <a href="{% url 'dashboard' %}">
                                <button style="background-color: #ff4d4d; color: white; border: none; padding: 5px 15px">Dashboard</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include 'includes/footer.html' %}
    </div>
</body>
</html>
